<h1>Power: <%= @power.name %> </h1>
<h3>Description: <%= @power.description %> </h3>

<%= link_to "Edit this Page", edit_power_path(@power) %><br>

<%= link_to "Heroine Index", heroines_path %><br>
<%= link_to "Power Index", powers_path %>
